body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

fieldset {
    background-color: olive;
    text-align: center;
    width: 350px;
    height: 500px;

    /* to center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    /* box shadow */
    box-shadow: 8px 8px 8px 1px; color: gray;

    h1 {
        color: black;
    }
}

div {
    margin: 4rem;
}

input {
    display: block;
    border: none;
    text-align: center;
    background-color: lightgray;
    width: 100%;
    padding: 20px;
    font-size: 1.2rem;

}

input[type="submit"]{
    background-color: deepskyblue;
}
p{
    color: goldenrod;
}
